<main>
  <div class="converter-wrapper">
    <div class="converter-inner-wrapper">
      <h1>Currency Converter</h1>
      <app-currency-input
        [currencies]="currencies"
        [selectedCurrency]="(selectedCurrencyFrom$ | async)!"
        [isOpen]="openDropdown === 'from'"
        [amount]="amountFrom"
        (toggleDropdown)="onToggleDropdown('from')"
        (selectCurrency)="selectCurrency('from', $event)"
        (amountChange)="updateAmountFrom($event)"
      ></app-currency-input>
      <button class="change-convert-fields-btn" (click)="swapCurrencies()">
        <img src="assets/icons/changeCurrency.svg" alt="changeCurrencyIcon" />
      </button>
      <app-currency-input
        [currencies]="currencies"
        [selectedCurrency]="selectedCurrencyTo"
        [isOpen]="openDropdown === 'to'"
        [amount]="amountTo"
        [readonly]="true"
        (toggleDropdown)="onToggleDropdown('to')"
        (selectCurrency)="selectCurrency('to', $event)"
      ></app-currency-input>
    </div>
  </div>
</main>
