.convert {
  display: flex;
  position: relative;
}

.convert-input {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem 0 0 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.readonly {
  cursor: auto;
}

.currency-dropdown {
  width: 20%;
  background-color: #efefef;
  border: 1px solid #d1d5db;
  border-left: none;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
}

.currency-dropdown-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.currency-dropdown-list {
  position: absolute;
  right: 0;
  top: 2.6rem;
  width: 60%;
  max-height: 120px;
  overflow-y: auto;
  background-color: #efefef;
  border: 1px solid #d1d5db;
  z-index: 2;
}

.currency-dropdown-item {
  padding: 0.25rem;
  border-bottom: 1px solid #d1d5db;
}

.currency-dropdown-item:last-child {
  border-bottom: 0;
}

@media (max-width: 768px) {
  .currency-dropdown {
    width: 30%;
  }

  .convert-input {
    width: 70%;
  }
}

@media (min-width: 1366px) {
  .currency-dropdown {
    width: 15%;
  }

  .convert-input {
    width: 85%;
  }
}
