@use "./reset.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}
